
body{
    font-family: 'sefati'!important;
}

.slider_right{
    height: 100vh;
    background: url('/img/slider/1.jpg');
    width: 100%;
}

.login_left{
    height: 100vh;
    background: transparent;
    width: 100%; 
}
.login_box{
    border: 2px solid gray;
    border-radius: 15px;
    margin-top: 15%;
    margin-right: 15%;
    width: 70%;
    background: #0B4F6C;
}
.login_box_head{
    text-align: center;
}
.login_box_head_p{
    font-size: 22px;
    margin: 5px;
    color:white;
}

.btn_login{
    padding: 10px;
    background: cyan;
    width: 90%;
    border-radius: 20px;
}
.btn_forget_pass{
    padding: 10px;
    background: white;
    width: 90%;
    border: .5px solid gray;
    border-radius: 20px;
    margin-right: 5%;
}

hr.login_box_cutter {
    overflow: visible; /* For IE */
    padding: 0;
    border: none;
    border-top:.5px solid gray;
    color: gray;
    text-align: center;
}
hr.login_box_cutter:after {
    content: "✄";
    display: inline-block;
    position: relative;
    top: -0.7em;
    font-size: 2.5em;
    padding: 0 0.25em;
    background: #0B4F6C;
}

