@font-face {
    font-family: sefati;
    src:url('fonts/iranyekanwebregular.ttf')  format('truetype'), 
        url('fonts/iranyekanwebregular.woff2') format('woff2'),
        url('fonts/iranyekanwebregular.woff') format('woff');
        font-weight: 100;

}   

.app-container{
    direction: rtl;
    font-family: sefati;

}
.app-sidebar__inner{
    text-align: right;
}
.app-header__content{
    direction: ltr;
}
@media (max-width: 991.98px){
    .app-sidebar {
        transform: translateX(274px);
    }
    .popover, .dropdown-menu{
        top: 37% !important;
    }
    .dropdown-menu.dropdown-menu-right{
        direction: rtl;
    }
    .dropdown-header{
        text-align: right;
        padding-right: 15px;
    }
    .app-main .app-main__outer{
        padding-right: 10px!important;
    }
}

.widget-content-left{
    text-align: right;
}

.fixed-sidebar .app-main .app-main__outer{  
    padding-right: 280px;
    padding-left: 10px;

}

.row{
    text-align: right;
}
.app-header__logo .logo-src{
    background-size: contain;
    background-position-x: right;
}

#myInput {
    background-image: url('/dashboard/img/searchicon.png'); /* Add a search icon to input */
    background-position: 10px 12px; /* Position the search icon */
    background-repeat: no-repeat; /* Do not repeat the icon image */
    width: 100%; /* Full-width */
    font-size: 16px; /* Increase font-size */
    padding: 12px 20px 12px 40px; /* Add some padding */
    border: 1px solid #ddd; /* Add a grey border */
    margin-bottom: 12px; /* Add some space below the input */
  }
  
  #myTable {
    border-collapse: collapse; /* Collapse borders */
    width: 100%; /* Full-width */
    border: 1px solid #ddd; /* Add a grey border */
    font-size: 18px; /* Increase font-size */
  }
  
  #myTable th, #myTable td {
    text-align: right; /* Left-align text */
    padding: 12px; /* Add padding */
  }
  
  #myTable tr {
    /* Add a bottom border to all table rows */
    border-bottom: 1px solid #ddd;
  }
  
  #myTable tr.header, #myTable tr:hover {
    /* Add a grey background color to the table header and on hover */
    background-color: #f1f1f1;
  }
  .modal-header .close{
    margin: -1rem -1rem -1rem;
  }

  input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}


.step_page{
  text-align: center;
  font-size: 11px;
}

.step_dot{
  width: 60px;
  height: 60px;
  background-color: white;
  border-radius: 50%;
  display: inline-block;
  border:3px solid black
}

.step_page_line1:after{
  content: "";
  position: absolute;
  top: 29px;
  right: 78px;
  background: #e5e5e5 none repeat scroll 0 0;
  height: 4px;
  width: 50px;
  z-index: 0;
}

.step_page_line2:after{
  content: "";
  position: absolute;
  top: 29px;
  right: 78px;
  background: #e5e5e5 none repeat scroll 0 0;
  height: 4px;
  width: 50px;
  z-index: 0;
}
.imgstepdot{
  width: 30px;
  padding-top: 10px;
  color: green;
}

.stepgreen{
  border:3px solid green;
}
.stepgreenp{
  color: green;
}
.greensvg{
  filter: invert(48%) sepia(98%) saturate(347%) hue-rotate(82deg) brightness(90%) contrast(95%);
}



.modal_details {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 100; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal_details-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close2 {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close2:hover,
.close2:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
.uppy-Dashboard-inner{
  text-align: center;
  margin: auto;
}
[data-uppy-num-acquirers="0"] .uppy-Dashboard-AddFiles-title{
  font-family: 'sefati';
}

.uppy-Dashboard-poweredBy{
  color: white!important;
}
.uppy-Dashboard-poweredByIcon{
  width: 0px;
}

.showddd{
  display: block;
}

#mapid { height: 400px; }



.highcharts-figure, .highcharts-data-table table {
  min-width: 310px; 
  max-width: 800px;
  margin: 1em auto;
}

#container {
  height: 400px;
}

.highcharts-data-table table {
  font-family: 'sefati'!important;
	border-collapse: collapse;
	border: 1px solid #EBEBEB;
	margin: 10px auto;
	text-align: center;
	width: 100%;
	max-width: 500px;
}
.highcharts-data-table caption {
  padding: 1em 0;
  font-size: 1.2em;
  color: #555;
}
.highcharts-data-table th {
	font-weight: 600;
  padding: 0.5em;
}
.highcharts-data-table td, .highcharts-data-table th, .highcharts-data-table caption {
  padding: 0.5em;
}
.highcharts-data-table thead tr, .highcharts-data-table tr:nth-child(even) {
  background: #f8f8f8;
}
.highcharts-data-table tr:hover {
  background: #f1f7ff;
} 

.highcharts-credits{
  display: none;
}

.index_box_work_p_absolute{
  position: absolute;
  left: 40px;
  bottom: 10px;
  z-index: 10;
}
.round_listitem{
  border: .5px solid black;
  border-radius: 10px;
  padding: 5px;
  font-size: 11px;
}

.hoverimg_selected{
  border: 4px solid #91171f;
  opacity: .8;
}